@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  /* ===== Scheme Colors ===== */
  --color-bg: #0f172a;            /* Main background */
  --color-surface: #1e293b;       /* Panels/cards */
  --color-input-bg: #334155;      /* Inputs/textarea */
  --color-button-bg: #394c68;     /* Primary button */
  --color-text: #f1f5f9;          /* Main text */
  --color-muted: #94a3b8;         /* Secondary text */
  --color-accent: #0ea5e9;        /* Accent */
  --color-danger: #ef4444;        /* Alerts/errors */

  /* ===== Borders ===== */
  --border-color: #475569;        /* Base border for inputs/cards */
  --border-radius: 0.5rem;        /* Rounded corners */
  --border-width: 1px;            /* Default thickness */

  /* ===== Font Sizes ===== */
  --font-xs: 0.75rem;   /* 12px */
  --font-sm: 0.875rem;  /* 14px */
  --font-md: 1rem;      /* 16px */
  --font-lg: 3.25rem;   /* 20px */
  --font-xl: 1.5rem;    /* 24px */
  --font-2xl: 2rem;     /* 32px */
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
body {
    background: var(--color-bg);
    color: var(--color-text);
    position: relative;
    width: 100vw;
    height: 100vh;
}
input, textarea, button {
    outline: none;
    border: none;
    width: 100%;
}
p, a, label, ::placeholder, input, textarea, button {
    font-size: var(--font-nm);
    color: var(--color-text);
}